/* font-family: 'Staatliches', cursive; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Permanent Marker', cursive; */

.container{
    display: grid;
}

#picture{
    text-align: center;
    /* -webkit-animation: rotation 2s
    infinite linear; */
}

/* @-webkit-keyframes rotation{
    from{
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
} */

.text{
    text-align: center;
}

.nav-wrapper{
    font-family: 'Permanent Marker', cursive;
}

#navbar{
}