/* font-family: 'Staatliches', cursive; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Permanent Marker', cursive; */

.container{
    display: grid;
}

#picture{
    text-align: center;
    position: absolute;
    z-index: 10;
    -webkit-animation: mymove 1s infinite;
    animation: mymove 2s infinite;
    /* -webkit-animation: rotation 2s
    infinite linear; */
}
@keyframes mymove{
    from {
        transform: rotateZ(0deg);}
        to {transform: rotateZ(360deg);}
}

.text{
    text-align: center;
}

.nav-wrapper{
    font-family: 'Permanent Marker', cursive;
}

#navbar{
}